<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="style/style.css">
	<title>shop</title>
</head>
<body>
	<div ng-app="app">
		<div ng-controller="ctrl" class="container">
			<div id="header" class="col-md-12">
				<p class="text-right"><img src="img/shopping-cart.png" alt="cart"> {{totalQty}} pcs / {{totalPrice | number :2}} $</p>
			</div>
			<div id="sidebar" class="col-md-2">
        		<ul class="nav nav-pills nav-stacked">
		          <li role="presentation" ><a href="#" class="alert alert-danger"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
		          <li role="presentation"><a href="#" class="alert alert-danger"><span class="glyphicon glyphicon-user"></span>Account</a></li>
		          <li role="presentation"><a href="#" class="alert alert-info"><span class="glyphicon glyphicon-shopping-cart"></span>Offer</a></li>
		          <li role="presentation"><a href="#" class="alert alert-info"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
		        </ul>
      		</div>
			<div id="content" class="col-md-10">
				<div class="row">
					<div class="products">
						<table class="table table-hover">
							<thead>
								<tr><h2>List of selected products:</h2></tr>
							</thead>
							<tbody>
								<tr class="trBold" ng-repeat="item in order track by $index">
									<td class="col-md-1 text-center">{{$index+1}}.</td>
									<td class="col-md-7 text-center name">{{item.name}}</td>
									<td class="col-md-2 text-center">{{item.qty}} pcs</td>
									<td class="col-md-2 text-center">{{item.price | number:2}} $</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3 class="text-right summ" ng-if="order.length"><strong>Sum:{{totalPrice | number :2}} $</strong></h3>
					<hr class="hrstyle">

					<form class="table table-hover">
        				<table>
        					<thead>
					          <tr>
					            <th>Name</th>
					            <th>Qty</th>
					            <th>Price</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <td><input type="text" class='form-control' ng-model="product.name" ></td>
					            <td><input type="number" class='form-control' ng-model="product.qty" min='1' ></td>
					            <td><input type="number" class='form-control' ng-model="product.price" min='0'></td>
					            <td><button type="submit" class="btn btn-warning" ng-click="addProduct(product)">Add to basket</button></td>
					            <td><button type="button" class="btn btn-danger btn-sm" ng-click="clearBasket()" >Clear</button></td>
					          </tr>
					        </tbody>
					      </table>
					      </form>
				</div>
			</div>
		</div>
	</div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script> 
    <script src="js/js.js"></script>
	
</body>
</html>