body{
	margin:0px;
	padding: 0px;
	background: url("../img/glass3.jpeg") no-repeat;
	background-size: 100%;
}

.container{
	margin-top:20px;
	height:600px;
	width:1000px;
	background-color:white;
	opacity:0.9;
	border-radius:20px;
}
#header{
	height:15%;
	box-sizing:border-box;
}
#header p {
font-size: 30px;
margin-top:20px;
}
#sidebar{
	height:85%;
	box-sizing: border-box;
}
#content{
	height:85%;
	box-sizing: border-box;
}
li span{
	margin-right: 20px;
}
#sidebar a {
	font-size: 16px;
}
.nav-pills{
	margin-top:25px;
}
.products{
	height:300px;
}
.name{
	font-size:20px;
}
.summ{
	margin-right:60px;
}
.table td{
	padding-right:10px;
}
.trBold td{
	font-weight: bold;
}